<div class="relative">
  <%= image_tag image_url %>
  <form action="/auth/saml" method="GET" class="absolute top-0 right-0 py2 px1">
    <% if params[:loa] %>
      <%= hidden_field_tag 'loa', params[:loa] %>
    <% end %>
    <button type="submit" class="btn btn-outline bg-white navy">
      <%= image_tag 'login-gov.svg', class: "align-middle", width: "125" %>
    </button>
  </form>
</div>
