<div class="p2 bg-red white clearfix">
  <form action="/auth/saml/logout" method="POST" class="right sm-show">
    <button type="submit" class="btn p0 h6 navy">Log out</button>
  </form>
  <span class="bold caps">Oops!</span><%= flash[:alert] %>
</div>
