<div class="p2 bg-green white clearfix">
  <% if current_user %>
    <form action="/auth/saml/logout" method="POST" class="right sm-show">
      <button type="submit" class="btn p0 h6 white">Log out</button>
    </form>
  <% end %>
  <span class="bold caps">Success!</span>
  <% if current_user %>
    <span>Email: <strong><%= current_user.email %></strong></span>
    <% unless current_user.first_name.nil? %>
      <span class="ml1 mr1">|</span>
      <span>Name: <strong><%= current_user.first_name %> <%= current_user.last_name %></strong></span>
    <% end %>
    <% unless current_user.social_security_number.nil? %>
      <span class="ml1 mr1">|</span>
      <span>SSN: <strong>###-##-<%= current_user.social_security_number.split(//).last(4).join %></strong></span>
    <% end %>
  <% end %>
</div>
