-----BEGIN CERTIFICATE-----
MIIDLjCCAhYCCQDGE883EVcEsjANBgkqhkiG9w0BAQsFADBZMQswCQYDVQQGEwJV
UzETMBEGA1UECAwKV2FzaGluZ3RvbjELMAkGA1UEBwwCREMxDDAKBgNVBAoMAzE4
RjEaMBgGA1UEAwwRZGVtby5zcC5sb2dpbi5nb3YwHhcNMTYwNjAyMjIwMzQwWhcN
MTcwNjAyMjIwMzQwWjBZMQswCQYDVQQGEwJVUzETMBEGA1UECAwKV2FzaGluZ3Rv
bjELMAkGA1UEBwwCREMxDDAKBgNVBAoMAzE4RjEaMBgGA1UEAwwRZGVtby5zcC5s
b2dpbi5nb3YwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCmD7ZWPt7Y
i9kqah4/6gIikfwFlOgXIkWSXaFAKPlX6YQ3toqHT5t8MbkBxG0HBDGYkpolSTjm
+Rq5g6xPulLCcrcf3fcw4lAwYicDR4Ck+WnqXYW5tEYd/WiBgxvweyWZqUAwI35y
93AahzLB9is8xx4FNeR9T7PbePa9aiSXi+h20cjAaUhFrVf5eI2w6iEsdvjcAwvd
6vEtT/bL0ZgY7jlZrmVKjgXneHIWQZyKVtdb5yOX3lVSNSXdyO/6EJOQ2gU/Z+TA
UiEnIpiAEmq4KEf09TL2OMQHnHZIlSkm2zzP/yLjSgS5BOInoo3dvCrV6OkyBFyJ
rOZEevbLn04TAgMBAAEwDQYJKoZIhvcNAQELBQADggEBAHwyxkyEOuHDCWHwVU4f
NUAZrIaz24v97ON5HRhmpUOypb5WuLY7OnExmuDnAzYxz4EQvUBCJLWJBetLxZYU
te9Anj+x8Q/qXlUYyAVVRoX0r5ogBPH1bBxtohMWhWbjvLkL9ubfJtmPcsEZefVz
1BPua+sRNd+0aCumJhbD+Z8f/hpy1jhcb4By+GdeWcMiM4+tHAUUSwjTD36j/+AD
2/0kMg3e57prameFx7JWJ/fjI3H4YzmZ9qxwAdxAZ1PxzKpdDyPBIno7NULKObfq
CaKRESOzdm8xJ2DV0J+DoCppot000+v57AQG30Hj62PBqoE3TInByMxkyEkLC7CF
3I0=
-----END CERTIFICATE-----