# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f8548158cad854c69dc4382f260ad07518f954777d1bc9741bd7a9b490c939fe2411fc377d771d388302e6f3ca0a6c3275a1dadbf65dd0341029c9ebde329adc
  saml_issuer: urn:gov:gsa:SAML:2.0.profiles:sp:sso:localhost-rails
  idp_sso_url: http://localhost:3000/api/saml/auth
  idp_slo_url: http://localhost:3000/api/saml/logout
  idp_cert_fingerprint: '8B:D5:C2:E8:9A:2B:CE:B7:4B:95:50:BA:16:79:05:27:17:D1:D3:67'
  acs_url: http://localhost:3003/auth/saml/callback

test:
  secret_key_base: a5f920d926f83681b1ec629182cedcbae25f19ebca05801fe48d6de56ccc690fa998f2ec9db1486d3d084bf9a4afa9d78237ae5acd65aaf6d8177395943cc0ad
  saml_issuer: urn:gov:gsa:SAML:2.0.profiles:sp:sso:localhost-rails
  idp_sso_url: http://idp.example.com/api/saml/auth
  idp_slo_url: http://idp.example.com/api/saml/logout
  idp_cert_fingerprint: 'BD:21:A9:57:14:3C:A8:4F:3F:C5:E6:99:7F:97:F6:E4:7E:E7:1D:1F'
  acs_url: http://localhost:3003/auth/saml/callback

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  <% idp_host = LoginGov::Hostdata.env == 'prod' ? 'secure' : 'idp' %>
  secret_key_base: <%= ENV.fetch("SECRET_KEY_BASE") %>
  saml_issuer: urn:gov:gsa:SAML:2.0.profiles:sp:sso:rails-<%= LoginGov::Hostdata.env %>
  idp_sso_url: https://<%= idp_host %>.<%= LoginGov::Hostdata.env %>.<%= LoginGov::Hostdata.domain %>/api/saml/auth
  idp_slo_url: https://<%= idp_host %>.<%= LoginGov::Hostdata.env %>.<%= LoginGov::Hostdata.domain %>/api/saml/logout
  http_auth_username: <%= ENV.fetch("BASIC_AUTH_USER") %>
  http_auth_password: <%= ENV.fetch("BASIC_AUTH_PASS") %>
  idp_cert_fingerprint: <%= ENV.fetch("IDP_CERT_FINGERPRINT") %>
  acs_url: https://sp.<%= LoginGov::Hostdata.env %>.<%= LoginGov::Hostdata.domain %>/auth/saml/callback
