# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f8548158cad854c69dc4382f260ad07518f954777d1bc9741bd7a9b490c939fe2411fc377d771d388302e6f3ca0a6c3275a1dadbf65dd0341029c9ebde329adc
  saml_issuer: urn:gov:gsa:SAML:2.0.profiles:sp:sso:localhost-rails
  idp_url: http://localhost:3000/api/saml/auth
  idp_cert_fingerprint: '8B:D5:C2:E8:9A:2B:CE:B7:4B:95:50:BA:16:79:05:27:17:D1:D3:67'

test:
  secret_key_base: a5f920d926f83681b1ec629182cedcbae25f19ebca05801fe48d6de56ccc690fa998f2ec9db1486d3d084bf9a4afa9d78237ae5acd65aaf6d8177395943cc0ad
  idp_url: http://idp.example.com/saml/auth
  idp_cert_fingerprint: '92:43:04:EA:16:2B:65:35:5E:C3:BE:F6:AE:BC:32:43:22:01:F4:BD'

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  saml_issuer: urn:gov:gsa:SAML:2.0.profiles:sp:sso:rails-<%= ENV["SAML_ENV"] %>
  idp_url: https://upaya-idp-<%= ENV["SAML_ENV"] %>.18f.gov/api/saml/auth
  http_auth_username: <%= ENV["SP_NAME"] %>
  http_auth_password: <%= ENV["SP_PASS"] %>
  idp_cert_fingerprint: '8B:D5:C2:E8:9A:2B:CE:B7:4B:95:50:BA:16:79:05:27:17:D1:D3:67'
